/*





NAV BAR STYLING




*/

#nav {
    display:flex;
    flex-direction: row;
    width:100%;
    background:rgb(218, 218, 218); 
    justify-content: space-between;
}
#nav h2 {
    align-self: flex-end;
    text-decoration:underline; 
}
.sSec, .uSec {
    display:flex;
    flex-direction:row; 
    width:45%; 
}
.sSec {
    justify-content: space-evenly;
}
.uSec {
    justify-content: flex-end;
    padding-right:5%;
}
.sSec img {
    width:70px;
    height:auto;
    border-radius:15px; 
}
.sLink, .uLink {
    padding:0 0 1.5%; 
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
}
.uLink {
    margin: 0 1.5%;  
}
/*



PRIMARY BUTTON STYLING




*/
button.pBtn {
    border-radius:15px; 
    font-weight:bold; 
    border:none; 
    padding:10px 20px; 
  --c:  #FFD100; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button.pBtn:hover {
    cursor: pointer;
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button.pBtn:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}
 /* Dropdown Button */
 .dropbtn2 {
     background: none;
     padding: 10px;
     color: rgb(40, 40, 40);
     font-size: 24px;
     border: none;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown2 {
     position: relative;
     display: inline-block;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content2 {
     display: none;
     position: absolute;
     background-color: rgba(40, 40, 40, .9);
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
     margin-left: -50px;
 }

 /* Links inside the dropdown */
 .dropdown-content2 button,
 .dropdown-content2 h3 {
     color: #FFD100;
     padding: 6px 34px;
     text-decoration: none;
     display: block;
     background: none;
     border: none;
     font-family: 'League Gothic', Arial, Helvetica, sans-serif;
     align-self: center;
 }

 .dropdown-content2 button {
     color: white;
     font-family: 'Rubrik', Arial, Helvetica, sans-serif;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content2 button:hover {
     background-color: #FFD100;
 }

 /* Show the dropdown menu on hover */
 .dropdown2:hover .dropdown-content2 {
     color: #ffb300;
     display: block;
 }

 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown2:hover .dropbtn2 {
     color: #ffb300;
 }

/*





SPLASH SECTION STYLING




*/
.welcome {
    background: rgb(218, 218, 218); 
    margin-left:10%;
    display:inline;  
}
#splashCont {
    width:100%; 
    padding:10% 0 15% 0; 
    background: linear-gradient(rgb(218, 218, 218),#FFD100); 
}
.cta {
    background:gray; 
    border:2px solid #FFD100;
    border-radius:15px; 
    padding:20px;
    box-shadow:0 0 10px black; 
    margin:0 10%; 
}
.cta h1 {
    color:white;

}
.sBtn {
    padding:30px; 
    border-radius:50px;
    border:none; 
    background:black; 
    color:white; 
    font-size:32px; 

}
/*





CARD SECTION STYLING 




*/
.prodSec {
    margin-top: -55px;
    background-image: url('../images/bg.jpg');
    padding:10%; 
    display:flex;
    flex-direction:row; 
    justify-content: space-evenly;
    overflow-x: scroll;

}
.prodSec img {
    width:100px; 
    border-radius:15px; 
}
.psBox {
    margin:0 2.5%;
    width:100%; 
    background:rgb(218, 218, 218); 
    border-radius:15px; 
    box-shadow:0 0 20px #FFD100; 
    text-align: center;
    padding:30px 10px; 
}
.prodTitle {
   margin:0 0 0 10%; 
    color:#FFD100; 
    z-index: 1;
}
.prodTitle a {
    border-radius:50px; 
    border:2.5px solid #FFD100; 
    padding:5px 10px; 
    color:white; 
    font-style: italic; 
    font-size:x-large;
}
/*





PRODUCTS PAGE STYLING





*/ 
#prodCont {
    width:100%; 
    display:flex;
    flex-direction:column; 
}
.row {
    display:flex;
    flex-direction:row;
    justify-content: center; 
}
.prodBox {
    margin:1.5%; 
    text-align:center;
    border-radius:15px; 
    background:rgb(218, 218, 218);
    box-shadow:0 0 10px #FFD100; 
    width:25%; 
    display:flex;
    flex-direction:column; 
}
.prodBox img{
    width:100%;
    height:auto; 
    border-radius:15px; 
}
.pInfo {
    width:100%; 
    align-self: center;
    margin-top: auto;
    display:flex;
    flex-direction:row;
    justify-content: space-around;

    font-weight: bold;
    font-size:22px;
    
}
.price {
    font-weight: bold;
    color:#ffb300; 
    font-size:22px;
    
}
.links {
    margin: 20px auto; 
}
/*







PRODUCT DETAIL PAGE STYLING





*/
#showContainer .emphasis a {
    text-decoration: none;
    margin-left: 20%;
}

#showContainer .emphasis a:hover {
    color: #ffb300;
}

.ratingsAvg {
    font-size: 24px;
}

#showContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:50px auto;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 24px;
    background: linear-gradient(rgb(218, 218, 218),#FFD100); 
}

#showContainer #desc {
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    align-self: center;
    margin: 20px;
    background: white;
    box-shadow: 0px 0px 20px rgb(40, 40, 40);
    padding: 20px;
}

#slideOps img {
    height: 150px;
}

#showDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left:30px; 

}

#showDetails * {
    margin: 10px 0px;
}

#showContainer h1 {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 28px;
}


#subtitles {
    display: flex;
    flex-direction: row;
}

.line {
    margin: auto;
    width: 97%;
    height: 1px;
    background-color: #FFD100;
}
#quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#addCartButton button {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    background-color: #FFD100;
    box-shadow: 0 0 5px black;
}

.detailSlides .dSlides {
    transition: 0.5s ease-in-out;
}

.detailSlides .dSlides:hover {
    scale: 1.45;
    transition: 0.5s ease-in-out;
    z-index: 99;
}

#showImg img{
    width:100%; 
    margin-right: 30px;
}

#showImg .dSlides {
    height: 350px;
    width: 100%;
}

/* Review styling */
#reviewContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    margin: 20px;
    background: white;
    box-shadow: 0px 0px 20px black;
    padding: 20px;

}

.reviews {
    box-shadow: 0 0 5px black;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 20px
}

.reviewBox {
    padding: 25px 50px;
    border-radius: 25px;
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;
}

.reviewBox h3 {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 28px;
}

#reviewContainer a {
    color: #FFD100;
    text-decoration: underline;
}

#reviewContainer a:hover {
    color: #bc700c;
}

.discount {
    text-decoration: line-through;
    font-size: 22px;
    padding-top: 15px;
}

#subtitles .emphasis {
    margin-left: 20px;
    color: #FFD100;
    font-size: 36px;
}

#noMatch h1 {
    margin-top: 50px;
    margin-bottom: 150px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 46px;
    text-align: center;
}

#reviewInput input {
    border: 1px solid #FFD100;
    width: 90%;
    height: 50px;
    padding: 5px;
    margin: 10px 0px;
    font-size: 14px;
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;

}

#reviewInput input:focus {
    outline: 1px solid #bc700c;
}

.rating {
    border: none;
}

.createSubmit3 button {
    background-color: #ffb300;
    border: none;
    box-shadow: 0 0 10px black;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 32px;
    width: 90%;
}

.createSubmit3 {
    margin: 20px 0px;
    display: flex;
    justify-content: center;

}

.createSubmit3 button:hover {
    background-color: #FFD100;
    color: black;
    transition: 0.15s ease-in-out;
}

/* 


EXTERNAL RATING CSSS


*/
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #FFD100;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #FFD100;
}
/*




AUTH FORM STYLING




*/
#authForm,
#regForm {
    width: 500px;
    min-height: 40%;
    background: white;
    border-radius: 5px;
    align-self: center;
    display: flex;
    align-items: center;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    margin: auto;
    box-shadow: 0 0 10px rgb(43, 43, 43);
}

#authForm div,
#regForm div {
    margin: 20px;
}

.authInput {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.authInput input {
    padding:10px 0;
    align-self: center;
    margin: 10px auto;
    width: 90%;
    font-size: 18px;
    border-radius:15px; 
    border: 1px solid gray;
}

.authInput input:focus {
    outline: 1px solid #FFD100;
    border: 1px solid #bc700c;
    padding: 10px 0;
}

.forPass a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #FFD100;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.forPass a:hover {
    box-shadow: inset 175px 0 0 0 #FFD100;
    color: white;
}

#authForm form,
#regForm form {
    align-items: center;
    width: 100%;
    text-align: center;

}

#authForm button,
#regForm button {
    width: 100%;
    font-family: 'League Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    border: 2px solid #FFD100;
    background: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

#authForm button:hover,
#regForm button:hover {
    color: white;
    background: #FFD100;
}

#authForm img,
#regForm img {
    align-self: center;
    width:30%;
    height:auto; 
}
/*





ADMIN PAGE STYLING



*/
#adminContainer {
    padding:25px 0; 
    background: linear-gradient(rgb(218, 218, 218), #FFD100);
}
#adminContent table,
#orderContent table {
    align-self: center;
    margin: 25px auto;
    background: rgb(40, 40, 40);

    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 3px solid #ffb300;
    border-radius: 15px;
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;
    color: #FFD100;
}

#adminContent img {
    width: 100%;
    height: 150px;
}

#adminContent td,
#orderContent td {
    border-right: 1px solid #ffb300;
    border-bottom: 1px solid #ffb300;
}

#adminContent,
#orderContent {
    align-self: center;
}

#adminOps {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#adminOps .dropbtn2 {
    margin-top: 55px;
    font-size: 42px;
}

#adminOps .dropdown-content2 {
    margin-left: -220px;
}

#orderContent td {
    padding: 20px;
}

#orderOps {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#orderOps a {
    font-size: 42px;
    margin-right: 20px;

}

#orderOps a:hover {
    color: #ffb300;
}

#sentShow {
    align-self: center;
    margin-top: 50px;
}

#sentShow button {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    background: rgb(40, 40, 40);
    color: #FFD100;
    border: 3px solid #ffb300;
}

#sentShow button:hover {
    border: 3px solid #FFD100;
    color: #FFD100;
    box-shadow: 0 0 10px black;
    transition: .25s ease-in-out;
}


