/*





NAV BAR STYLING




*/

#nav {
    display:flex;
    flex-direction: row;
    width:100%;
    background:rgb(218, 218, 218); 
    justify-content: space-between;
}
#nav h2 {
    align-self: flex-end;
    text-decoration:underline; 
}
.sSec, .uSec {
    display:flex;
    flex-direction:row; 
    width:45%; 
}
.sSec {
    justify-content: space-evenly;
}
.uSec {
    justify-content: flex-end;
    padding-right:5%;
}
.sSec img {
    width:70px;
    height:auto;
    border-radius:15px; 
}
.sLink, .uLink {
    padding:0 0 1.5%; 
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
}
.uLink {
    margin: 0 1.5%;  
}
/*





SPLASH SECTION STYLING




*/
.welcome {
    background: rgb(218, 218, 218); 
    margin-left:10%;
    display:inline;  
}
#splashCont {
    width:100%; 
    padding:10% 0 15% 0; 
    background: linear-gradient(rgb(218, 218, 218),#FFD100); 
}
.cta {
    background:gray; 
    border:2px solid #FFD100;
    border-radius:15px; 
    padding:20px;
    box-shadow:0 0 10px black; 
    margin:0 10%; 
}
.cta h1 {
    color:white;

}
.sBtn {
    padding:30px; 
    border-radius:50px;
    border:none; 
    background:black; 
    color:white; 
    font-size:32px; 

}
/*





CARD SECTION STYLING 




*/
.prodSec {
    margin-top: -55px;
    background-image: url('../images/bg.jpg');
    padding:10%; 
    display:flex;
    flex-direction:row; 
    justify-content: space-evenly;
    overflow-x: scroll;

}
.prodSec img {
    width:100px; 
    border-radius:15px; 
}
.psBox {
    margin:0 2.5%;
    width:100%; 
    background:rgb(218, 218, 218); 
    border-radius:15px; 
    box-shadow:0 0 20px #FFD100; 
    text-align: center;
    padding:30px 10px; 
}
.prodTitle {
   margin:0 0 0 10%; 
    color:#FFD100; 
    z-index: 1;
}
.prodTitle a {
    border-radius:50px; 
    border:2.5px solid #FFD100; 
    padding:5px 10px; 
    color:white; 
    font-style: italic; 
    font-size:x-large;
}
/*





PRODUCTS PAGE STYLING





*/ 
#prodCont {
    width:100%; 
    display:flex;
    flex-direction:column; 
}
.row {
    display:flex;
    flex-direction:row;
    justify-content: center; 
}
.prodBox {
    margin:1.5%; 
    text-align:center;
    border-radius:15px; 
    background:rgb(218, 218, 218);
    box-shadow:0 0 10px #FFD100; 
    width:25%; 
    display:flex;
    flex-direction:column; 
}
.prodBox img{
    width:100%;
    height:auto; 
    border-radius:15px; 
}
.price {
    font-weight: bold;
    color:#ffb300; 
    font-size:22px;
    align-self:center;
    margin-top:auto;
}